  body {
    background-image: url(../img/ground.jpg);
    background-size: 50%;
  }

#fent {
  background-color: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -745px;
  width: 33%;
  height: 100%;
}

#angol {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 1500px;
}

#magyar {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 200px;
}

#slovak {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 100px;
}

#japan {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 1300px;
}

#china {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 300px;
}

#french {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left: 1400px;
}

#rus {
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  margin-left:10px;
}